/* import fonts */
@font-face {
	font-family: 'romance';
	src: url(../assets/fonts/RomanceA.ttf);
}

@font-face {
	font-family: 'webfont';
	src: url(../assets/fonts/000webfont.ttf);
}

@font-face {
	font-family: 'basiic';
	src: url(../assets/fonts/basiic.ttf);
}

@font-face {
	font-family: 'alagard';
	src: url(../assets/fonts/alagard.ttf);
}
@font-face {
	font-family: 'gothic';
	src: url(../assets/fonts/gothic.ttf);
}

@font-face {
	font-family: 'redacted50';
	src: url(../assets/fonts/Redaction50-Regular.otf);
}

@font-face {
	font-family: 'redacted35B';
	src: url(../assets/fonts/Redaction35-Bold.otf);
}

body {
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'redacted35B';
	max-width: 600px;
	margin: 0 auto;
	padding: 0 6vw;
}

h1 {
	font-family: 'redacted50';
}
a:link {
	color: rgb(79, 225, 35)
  }

  a:visited {
	color: rgb(79, 225, 35);
  }

  a:hover {
	color: rgb(65, 7, 200);
  }

  a:active {
	color: red;
  }

.banner {
	padding-bottom: 1%;
	height: 100px;
	width: 100px;
}

.homeContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'redacted35B';
}

::selection {
	background-color: rgb(79, 225, 35);
	color: black;
  }

  header {
	padding-top: 2vh;
	padding-bottom: 3vh;
  }
