<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/style.css' | relative_url }}">
</head>
<header>
    <a href="{{ 'index.html' | relative_url }}">
        <img src="{{ 'assets/logo.webp' | relative_url }}" alt="Logo">
    </a>
    <h1>gwyneth.info</h1>
    <nav>
        <a href="{{ 'research.html' | relative_url }}">research </a>|
        <a href="https://github.com/taikoxyz/gwyneth/">github </a>|
        <a href="https://twitter.com/gwyneth_taiko" title="Not calling it X">twitter </a>|
        <a href="https://discord.gg/taikoxyz">discord</a>
    </nav>
</header>
<body>
    {{ content }}
</body>
<footer>
    <p>&copy; this is a personal project. made with ❤ for a better web3.</p>
</footer>
<script>NekoType="lucy"</script>
<script src="https://webneko.net/n20171213.js"></script>
</html>